@using SpartezSoftware.Synchronizer.Services
@using SpartezSoftware.Synchronizer.Tfs4jira2.Services
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/ProfileWizard.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.chosen.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/themes/custom-theme/jquery-ui-1.8.24.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/select2-3.5.2.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/jquery.tooltipster.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Css/dropit.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/FrontendResources/static/css/app.css")" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Content/Images/logo.png")"/>
        <script type="text/javascript">
            var contextPath = "@Url.Content("~")".replace(/\/$/, '');
            console.log("Synchronizer context path : \"" + contextPath + "\"");
            window.Spartez = {
                Shared: {
                    notification: null,
                    notifications: [],
                    sendNotification: function(receiver, payload) {
                        this.notification = { receiver: receiver, payload: payload, dispatched: false };
                        this.notifications.push(this.notification);
                    }
                }
            };
            window.Spartez.Shared.sendNotification('AppConfig', {contextPath: contextPath});
            window.onload = loadMpacIframe;

            function loadMpacIframe() {
                if (localStorage.getItem('sentIframeData')) {
                    return;
                }
                var iframe = document.createElement('iframe');
                iframe.setAttribute('id', 'mpacGAIframe');
                iframe.setAttribute('style', 'width:0;height:0;border:0;border:none;');
                iframe.onload = removeFrameWithDelay(iframe);
                iframe.src = 'https://marketplace.atlassian.com/apps/42296/tfs4jira-azure-devops-integration' +
                    '?hosting=cloud&tab=overview&synchronizerId=@ViewBag.ApplicationSettingsService.AnalyticsClientGuid&eventSource=synchronizer_frontend';
                document.body.appendChild(iframe);
            }

            function removeFrameWithDelay(iframe) {
                setTimeout(function () {
                    localStorage.setItem('sentIframeData', 'true');
                    iframe.parentNode.removeChild(iframe);
                }, 5000);
            }
        </script>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.jstepper.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/select2-3.5.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.visibility.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.tooltipster.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/moment.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/dropit.js")" type="text/javascript"></script>
        <meta http-equiv="Cache-control" content="no-cache" />
    </head>
    <body>
    <div class="vue-container" id="unsupported-browser-checker">
        <unsupported-browser-checker></unsupported-browser-checker>
    </div>
    <div class="vue-container" id="support-side-bar">
        <support-side-bar></support-side-bar>
    </div>
    <div class="page">
        <div class="vue-container" id="notification-handler">
            <notification-handler></notification-handler>
        </div>
        <div id="header">
            <a href="@Url.Action("Index", "Tfs", new { id = string.Empty }, null)"><div id="applogo">TFS4Jira Synchronizer</div></a>
            <div id="logindisplay">
                @if (ViewBag.isLogInPage == null)
                {
                    @Html.Partial("_LogOnPartial")
                }
            </div>
            <div id="menucontainer">
                <div style="position: relative; float: right;">
                    <ul id="menu">
                        @if (ViewBag.isAuthorized != null && ViewBag.isAuthorized)
                        {
                            <li id="menu-config">@Html.ActionLink("Configuration", "Index", "Tfs", new {id = string.Empty}, null)</li>
                            <li id="menu-check-ins-config">@Html.ActionLink("Check-ins", "Index", "Checkins", new { id = string.Empty }, null)</li>
                            <li id="menu-logging-events">@Html.ActionLink("Errors", "Index", "LoggingEvents")</li>
                            <li id="menu-settings">@Html.ActionLink("Settings", "Index", "Settings")</li>
                            <li id="menu-activity">@Html.ActionLink("Log", "Index", "Home")</li>
                        }
                        <li id="menu-about">@Html.ActionLink("About", "About", "Home")</li>
                    </ul>
                </div>
                <div id="helpme-container"><a href="#" id="helpme">Help</a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="main">
            @if (ViewBag.isAuthorized != null && ViewBag.isAuthorized) {
                <div class="vue-container" id="webinar-stripe">
                    <webinar-stripe></webinar-stripe>
                </div>
            }
            <div id="content">
                @RenderBody()
            </div>
        </div>
        <div id="help">
            <div style="margin-bottom: 10px;">
                <h3 style="padding-left: 10px; margin-top: 10px;" id="helptitle">Help</h3>
                <div style="position: absolute; right: 1em; top: 15px;">
                    <a href="#" id="closehelp">Hide</a>
                </div>
            </div>
            <div id="helpinner"></div>
        </div>
        <div id="footer">
            <div id="footer-left"><a target="_blank" href="https://spartez-software.atlassian.net/servicedesk/customer/portals">Submit a feature request or report a bug</a></div>
            <div id="footer-center">@Html.Raw(ConfigService.FooterMessage())</div>
            <div id="footer-right">&copy; 2014-2020 <a href="https://spartez-software.com/products/tfs4jira">Spartez Software</a></div>
        </div>
    </div>
    <div class="vue-container" id="message-box">
        <message-box></message-box>
    </div>
    @if (ViewBag.SendTrackingStatsFromFrontend == true && 
         ViewBag.ApplicationSettingsService != null && ((IApplicationSettingsService) ViewBag.ApplicationSettingsService).IsAnalyticsOn) {
        <img src="@CustomerTrackingService.TRACKING_ENDPOINT_URL_FOR_FRONTEND?eventSource=synchronizer_frontend&synchronizerId=@ViewBag.ApplicationSettingsService.AnalyticsClientGuid" width="0" height="0"/>
    }
    </body>
    
    <script src="@Url.Content("~/FrontendResources/static/js/manifest.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/FrontendResources/static/js/vendor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/FrontendResources/static/js/app.js")" type="text/javascript"></script>
   
</html>
