@using System.Runtime.InteropServices
@model SpartezSoftware.Synchronizer.Domain.scan.TfsRepository

@{
    var editId = "tfsedit_" + Model.Guid;
    var testId = "tfstest_" + Model.Guid;
    var enableId = "tfsenable_" + Model.Guid + "_" + (Model.Enabled ? "1" : "0");
    var clearId = "tfsclear_" + Model.Guid;
    var deleteId = "tfsdelete_" + Model.Guid;
}
<tr>
    <td class="url">
        <a href="@Model.Url" target="_blank">@Model.Url</a>
    </td>
    <td class="nowrap">@Model.Collection</td>

    @if (Model.GitRepo) {
        <td class="nowrap">@Model.GitProject / @Model.GitRepoName</td>
@*        <td class="nowrap">@Model.ChangeSets.Count</td> *@ // TODO: fetch ChangeSet count directly from DbSet somehow - TFS-1217
    }
    else
    {
        <td class="nowrap">@Model.Folder</td>
        <td class="nowrap" style="text-align: right">@Model.StartRevision</td>
        <td class="nowrap" style="text-align: right">@Model.LastScannedRevision</td>
    }

    <td class="nowrap" style="text-align: right">@Model.LastScanUtc</td>
    <td class="nowrap status">
        <div class="repo-state @(Model.Enabled ? "enabled" : "disabled")">
            @(Model.Enabled ? "Enabled" : "Disabled")
        </div>
    </td>
    <td class="nowrap">
        <a class="tfs_edit" id="@editId" href="#">Edit</a>
        &nbsp;|&nbsp;
        <a class="tfs_test" id="@testId" href="#">Test</a>
        &nbsp;|&nbsp;
        <a class="tfs_enable" id="@enableId" href="#">@(Model.Enabled ? "Disable" : "Enable")</a>
        &nbsp;|&nbsp;
        <a class="tfs_clear" id="@clearId" href="#">Clear</a>
        &nbsp;|&nbsp;
        <a class="tfs_delete" id="@deleteId" href="#">Delete</a>
    </td>
</tr>
<tr style="display: none">
    <td colspan="5">
        <div class="profileform tfsrepo">
            @Html.Hidden("tfsgit_" + Model.Guid, Model.GitRepo ? "true" : "false", new { @class = "tfsgit" })

            <div class="row">
                <div class="field">
                    <div class="label">URL</div>
                    <div class="editbox">@Html.TextBox("tfsurl_" + Model.Guid, Model.Url, new { @class = "tfsurl" })</div>
                    <div class="field-description">TFS server base URL with optional port number, e.g.  http://mytfs.mycompany.com:8080/tfs. </div>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <div class="label">Azure DevOps Services</div>
                    <div class="editbox">@Html.CheckBox("tfshosted_" + Model.Guid, Model.HostedTfs, new { @class = "tfshosted" })</div>
                    <div class="field-description">
                        Check this option if you want to connect with Azure DevOps Services (formerly VSTS).
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <div class="label only-for-tfs-server">User Name</div>
                    <div class="label only-for-tfs-cloud">Email Address</div>
                    <div class="editbox">@Html.TextBox("tfsuser_" + Model.Guid, Model.UserName, new {@class = "tfsuser"})</div>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <div class="label only-for-tfs-server">Password</div>
                    <div class="label only-for-tfs-cloud">Personal Access Token</div>
                    <div class="editbox">@Html.Password("tfspassword_" + Model.Guid, Model.PasswordSuppressException, new { @class = "tfspassword", @autocomplete = "new-password" })</div>
                    <div class="field-description link-to-api-token-docs">
                        @HelpHelpers.LinkToTfsPersonalAccessTokenDocumentation("How to generate Personal Access Token?")  <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field tfs-domain">
                    <div class="label">Domain</div>
                    <div class="editbox">@Html.TextBox("tfsdomain_" + Model.Guid, Model.Domain, new {@class = "tfsdomain"})</div>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <div class="label">Project Collection</div>
                    <div class="editbox">
                        <select id="@("tfscoll_" + @Model.Guid)" class="tfscoll">
                            <option value="@Model.Collection">@Model.Collection</option>
                        </select>
                    </div>
                    <div class="fetch-button-container">
                        <span class="fetch-collection-button button-link">Fetch collections</span>
                        <span class="fetch-collection-info">Fetching collections...</span>
                    </div>
                </div>
            </div>
            <div class="gitrepoparams">
                <div class="row">
                    <div class="field">
                        <div class="label">Git Project / Repository</div>
                        <div class="editbox">
                            <select id="@("tfsgitrepo_" + @Model.Guid)" class="tfsgitrepo">
                                <option value="@Model.GitRepoName" data-project-name="@Model.GitProject">@Model.GitProject / @Model.GitRepoName</option>
                            </select>
                        </div>
                        <div class="fetch-button-container">
                            <span class="fetch-git-repository-button button-link">Fetch repositories</span>
                            <span class="fetch-git-repository-info">Fetching repositories...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="label">Start from push date</div>
                        <div class="editbox">
                            @Html.TextBox("tfsgitstartdate_" + Model.Guid, (Model.GitStartDate == null) ? "" : Model.GitStartDate.Value.ToLocalTime().ToString(), new {@class = "tfsgitstartdate", @readonly = true})
                            <img class="start-date-clean-button" src="@VirtualPathUtility.ToAbsolute("~/Content/Images/delete-icon.svg")">
                        </div>
                        <div class="field-description">
                            By default this field is empty which means that whole repository will be scanned. If you set the date, only commits pushed to TFS / VSTS after this date will be scanned.
                        </div>
                    </div>
                </div>
            </div>
            <div class="tfsrepoparams">
                <div class="row">
                    <div class="field">
                        <div class="label">Project Name</div>
                        <div class="editbox">
                            <select id="@("tfsProjectName_" + @Model.Guid)" class="tfsProject">
                                <option value="@Model.TfsProject">@Model.TfsProject</option>
                            </select>
                        </div>
                        <div class="fetch-button-container">
                            <span class="fetch-project-button button-link">Fetch projects</span>
                            <span class="fetch-project-info">Fetching projects...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="label">Folder</div>
                        <div class="editbox">@Html.TextBox("tfsfolder_" + Model.Guid, Model.Folder, new { @class = "tfsfolder" })</div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="label">Start at Changeset #</div>
                        <div class="editbox">@Html.TextBox("tfsstartrev_" + Model.Guid, Model.StartRevision, new {@class = "tfsstartrev"})</div>
                        <div class="field-description">
                            If you started putting Jira issue keys in check-in comments only recently then
                            specifying starting changeset is useful for improving initial repository scan time.
                            @HelpHelpers.LinkToCheckinsConfigurationDocumentation("More info")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="label">Scan Size</div>
                        <div class="editbox">@Html.TextBox("tfsscansize_" + Model.Guid, Model.ScanSize, new { @class = "tfsscansize" })</div>
                        <div class="field-description">
                            Number of changesets to scan in one scan operation.
                            @HelpHelpers.LinkToCheckinsConfigurationDocumentation("More info")
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <div class="label">Max Files in Changeset</div>
                        <div class="editbox">@Html.TextBox("tfsmaxfiles_" + Model.Guid, Model.MaxScannedFiles, new { @class = "tfsmaxfiles" })</div>
                        <div class="field-description">
                            Maximum number of files that will be scanned in each changeset.
                            @HelpHelpers.LinkToCheckinsConfigurationDocumentation("More info")
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <div class="label"></div>
                    @{
                        var applyButtonId = "tfsconfig_" + Model.Guid + "_applybutton";
                        var testButtonId = "tfsconfig_" + Model.Guid + "_testbutton";
                        var workerId = "tfsconfig_" + Model.Guid + "_applyworker";
                    }
                    <div class="getter" id="apply">
                        <input type="button" id="@applyButtonId" class="tfsconfig_applybutton" value="Save & Close"/>
                        <span type="button" id="@testButtonId" class="button-link tfsconfig_testbutton">Test</span>
                        <span class="button-link tfsrepo_canceledit">Cancel</span>
                    </div>
                    <div class="worker" id="@workerId">
                        <div class="worker-throbber"></div>
                        <div class="worker-label">Saving the configuration...</div>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
