@using SpartezSoftware.Synchronizer.Controllers
@{
    string id = @Model.GetType().GetProperty("Id").GetValue(Model);
}

<div id="@id" class="@Model.GetType().GetProperty("Class").GetValue(Model) jira-connection">
    <h1>Jira Connection</h1>
    <div class="tfs4jira-fieldgroup">
        <div id="jira-readonly-url" class="readonly-value"></div>
    </div>
    <div class="tfs4jira-fieldgroup">
        <label for="jira-login">
            <span class="only-for-server">User Name</span>
            <span class="only-for-cloud">Email Address</span>
        </label>
        <input id="jira-login" />
        <div class="tfs4jira-field-error"></div>
    </div>
    <div class="tfs4jira-fieldgroup">
        <label for="jira-password">
            <span class="only-for-server">Password</span>
            <span class="only-for-cloud">API Token</span>
        </label>
        <input id="jira-password" type="password" />
        <div class="tfs4jira-field-error"></div>
        <div class="tfs4jira-field-description only-for-cloud">
            <a href="https://confluence.spartez.com/display/TFS4Jira/API+Token+authentication+in+Jira+Cloud?source=tfs4jirasynchronizer" target="_blank">
                How to generate API Token?
            </a>
        </div>
    </div>
</div>

<script>
    $(function() {
        $('#@id').on("@NavigationEvents.ActivateView",
            function activateView(event, parameters) {
                $("#jira-login").focus();
                $("#jira-readonly-url").text(synchronizationProfile.JiraUrl);
                $("#jira-login").val(synchronizationProfile.JiraUser);
                $("#jira-password").val(synchronizationProfile.JiraPassword);
                changeViewDependingOnDeploymentType(synchronizationProfile.OnDemandJira);
            });

        function changeViewDependingOnDeploymentType(isCloudJira) {
            if (isCloudJira) {
                $(".jira-connection .only-for-cloud").show();
                $(".jira-connection .only-for-server").hide();
            } else {
                $(".jira-connection .only-for-cloud").hide();
                $(".jira-connection .only-for-server").show();
            }
            clearFieldError("jira-login");
            clearFieldError("jira-password");
        }

        $('#@id').on("@NavigationEvents.NextButtonClicked", function nextButtonClicked() {
            if (validate()) {
                saveFocusedElement();

                synchronizationProfile.JiraUser = $("#jira-login").val().trim();
                synchronizationProfile.JiraPassword = $("#jira-password").val();

                SaveModel().done(
                    function() {
                        testConnection()
                            .done(function testSuccessedAfterNextButtonClicked() {
                                SaveModelAndGoToNextStep();
                            });
                        window.Spartez.Shared.sendNotification(
                            'WizardSide', {
                                profileDataToOverride:{
                                    JiraUrl: synchronizationProfile.JiraUrl,
                                    JiraUser: synchronizationProfile.JiraUser,
                                    JiraPassword: synchronizationProfile.JiraPassword,
                                    OnDemandJira: synchronizationProfile.OnDemandJira,
                                    jiraDirty: true
                                }
                            }
                        );      
                    }
                );
            }
        });

        $('#@id').on("@NavigationEvents.TestButtonClicked", function testButtonClicked() {
            if (validate()) {
                saveFocusedElement();

                synchronizationProfile.JiraUser = $("#jira-login").val().trim();
                synchronizationProfile.JiraPassword = $("#jira-password").val();

                SaveModel().done(
                    function() {
                        testConnection().done(function testSuccessed() {
                            infoDialog('body', 'Success! Jira server location and credentials seem to be fine.', restoreFocus);
                        });
                        window.Spartez.Shared.sendNotification(
                            'WizardSide', {
                                profileDataToOverride: {
                                    JiraUrl: synchronizationProfile.JiraUrl,
                                    JiraUser: synchronizationProfile.JiraUser,
                                    JiraPassword: synchronizationProfile.JiraPassword,
                                    OnDemandJira: synchronizationProfile.OnDemandJira,
                                    jiraDirty: true
                                }
                            }
                        );                        
                    }
                );
            }
        });

        function validate() {
            var login = $("#jira-login").val().trim();
            var password = $("#jira-password").val();
            var isValid = true;
            if (_.isEmpty(login)) {
                const fieldName = (synchronizationProfile.OnDemandJira)? 'email address' : 'user name';
                setFieldError("jira-login", `Please provide ${fieldName}.`);
                isValid = false;
            } else {
                clearFieldError("jira-login");
            }
            if (_.isEmpty(password)) {
                const fieldName = (synchronizationProfile.OnDemandJira)? 'API Token' : 'user password';
                setFieldError("jira-password", `Please provide ${fieldName}.`);
                isValid = false;
            } else {
                clearFieldError("jira-password");
            }
            return isValid;
        }

        function testConnection() {
            var url = encodeURIComponent(synchronizationProfile.JiraUrl);
            var login = encodeURIComponent($("#jira-login").val().trim());
            var password = encodeURIComponent($("#jira-password").val());

            return blockingAjax({
                url: '@Url.Action("TestJira", "Tfs")?_=' + new Date().getTime(),
                data: 'user=' + login + '&password=' + password + '&url=' + url
            });
        }
    });
</script>