@using synchronizer.Controllers
@using synchronizer.Services
@{
    string id = @Model.GetType().GetProperty("Id").GetValue(Model);
}
<div id="@id" class="@Model.GetType().GetProperty("Class").GetValue(Model)">
    @if (Model.GetType().GetProperty("Guid") != null && @Model.GetType().GetProperty("Guid").GetValue(Model).ToString() != "00000000-0000-0000-0000-000000000000")
    {
        <div class="vue-container" id="link-mapping">
            <link-mapping load-on-init="false" profile-guid="@Model.GetType().GetProperty("Guid").GetValue(Model).ToString()"></link-mapping>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#@id').on("@NavigationEvents.ActivateView", function (event, parameters) {
            window.Spartez.Shared.notifyComponent('link-mapping');
        });

        $('#@id').on("@NavigationEvents.NextButtonClicked",
            function nextButtonClicked() {
                SaveModelAndGoToNextStep();
            });
    });
</script>
