@using synchronizer.Controllers
@{
    string id = @Model.GetType().GetProperty("Id").GetValue(Model);
    string mappingComponentId = id + "-component";
}

<div id="@id" class="@Model.GetType().GetProperty("Class").GetValue(Model)">
    <h1>Type Mapping</h1>
    
    @MappingHelpers.MappingComponent(@mappingComponentId)
</div>

@{
    Html.RenderPartial("_ValueMappingScripts", new
    {
        MappingComponentId = @mappingComponentId,
        ShowDoNothingAction = true,
        ShowRaiseErrorAction = true,
        ShowEmptyValue = false,
        IsMappingOneToMany = false
    });
}

<script>
    $(function () {
        var $root = $('#@id');
        var $mappingComponent = $root.find("#@mappingComponentId");

        $root.on("@NavigationEvents.ActivateView", function activateView(event) {
            blockingAjax({
                url: '@Url.Action("GetTypeMapping", "Tfs")?_=' + new Date().getTime(),
                data: { guid: synchronizationProfile.Guid }
            }).done(function (data) {
                $mappingComponent.trigger('@ValueMappingEvents.MappingDataLoaded', data);
            });
        });

        $root.on("@NavigationEvents.NextButtonClicked", function () {
            SaveModelAndGoToNextStep();
        });
    });
</script>