@using SpartezSoftware.Synchronizer.Domain.Entity
@model SpartezSoftware.Synchronizer.Models.SyncProfileErrorModel

@{
    ViewBag.Title = "SyncProfile - TFS4JIRA Synchronizer";
}

<a id="backlink" href=".."></a>

@if (Model != null && Model.Error != null) {
    <p>@Model.Error</p>
} else {
    if (Model == null || Model.Profile == null) {
        <h1>Create New Synchronization Profile</h1>
        Html.RenderPartial("_SyncProfileEditor", SyncProfile.Empty);
    } else {
        bool isProfileEditor = Request.Params["mappings"] == null && Request.Params["advanced"] == null && Request.Params["filters"] == null && Request.Params["users"] == null;
        bool isValueMappingsEditor = Request.Params["mappingid"] != null && (Request.Params["types"] == null && Request.Params["states"] == null);
        bool isMappingEditor = (!isValueMappingsEditor) && Request.Params["mappings"] != null && Request.Params["advanced"] == null && Request.Params["filters"] == null;
        bool isFiltersEditor = Request.Params["filters"] != null;
        bool isAdvancedEditor = Request.Params["advanced"] != null;
        bool isUsersEditor = Request.Params["users"] != null;

        <h1>
            @if (isValueMappingsEditor) {
                @:  Value Mappings
            } else {
                @Model.Profile.Name
                <span class="lozenge @(Model.Profile.State.ToString() == "Enabled" ? "enabled" : "")">@(Model.Profile.State.ToString())</span>
            }
        </h1>

        // Show tab switcher
<div class="profile-configuration-menu">
    <div class="@(isProfileEditor ? "tabheadercurrent" : "tabheader")">
        @Html.ActionLink("Connections", "Index", "Tfs", new { id = Model.Profile.Guid }, new { id = "tab-switch-settings" })
    </div>
    <div class="@(isMappingEditor ? "tabheadercurrent" : "tabheader")">
        @Html.ActionLink("Mappings", "Index", "Tfs", new { id = Model.Profile.Guid, mappings = 1, basic = 1 }, new { id = "tab-switch-field-mappings" })
    </div>
    <div class="@(isFiltersEditor ? "tabheadercurrent" : "tabheader")">
        @Html.ActionLink("Filters", "Index", "Tfs", new { id = Model.Profile.Guid, filters = 1 }, new { id = "tab-switch-filters" })
    </div>
    <div class="@(isUsersEditor ? "tabheadercurrent" : "tabheader")">
        @Html.ActionLink("Users", "Index", "Tfs", new { id = Model.Profile.Guid, users = 1 }, new { id = "tab-switch-users-mappings" })
    </div>
    <div class="@(isAdvancedEditor ? "tabheadercurrent" : "tabheader")">
        @Html.ActionLink("Active Directory", "Index", "Tfs", new { id = Model.Profile.Guid, advanced = 1 }, new { id = "tab-switch-advanced" })
    </div>
</div>

        // Show tab content
        <div id="tabcontent">
            <div class="spinner"><!-- -- --></div>
            @if (isProfileEditor) {
                Html.RenderPartial("_SyncProfileEditor", Model.Profile);
            } else if (isMappingEditor) {
                Html.RenderPartial("_FieldMappingsEditor", Model.Profile);
            } else if (isFiltersEditor) {
                Html.RenderPartial("_FiltersEditor", Model.Profile);
            } else if (isAdvancedEditor) {
                Html.RenderPartial("_AdvancedSettingsEditor", Model.Profile);
            } else if (isUsersEditor) {
                Html.RenderPartial("_UsersMapping", Model.Profile);
            } else {
                Html.RenderPartial("_ValueMappingsEditor", Model.Profile);
            }
        </div>
    }
}